<div class="container guests">
  <h1 class="display-1 text-center guests-title">Will you join the party?</h1>

  <div class="row">
    <div class="col">
      <div class="guest-deck">
        <% @guests.each do |guest| %>
          <div class="card guest-card">
            <% grayscale_img = guest.participate ? "" : "guest-grayscale-img" %>
            <% if guest.name.nil? || guest.last_name.nil? %>
              <%= image_tag "LOTR/1_notext.png", class: "card-img-top #{grayscale_img}", alt: "Legolas" %>
            <% else %>
              <%= image_tag "LOTR/Aragorn.png", class: "card-img-top #{grayscale_img}", alt: "Legolas" %>
            <% end %>
            <% grayscale_bck = guest.participate ? "" : "guest-grayscale-bck" %>
            <div class="card-body <%= grayscale_bck %>">
              <% if guest.name.nil? || guest.last_name.nil? %>
                <h5 class="card-title"><%= "It's dangerous to go alone, take this!" %></h5>
              <% else %>
                <h5 class="card-title"><%= "#{guest.name}" %></h5>
                <h5 class="card-title"><%= "#{guest.last_name}" %></h5>
                <% end %>
            </div>
            <div class="card-footer card-guest-buttons">
              <% if guest.participate %>
                <%= content_tag :button, 'EDIT', id: "guest-edit#{guest.id}", data: {guest_id: "#{guest.id}", toggle: "modal", target: "#guestmodal-#{guest.id}"}, class: "btn btn-sm btn-primary btn-guest" %>
                <%= link_to "NO", guest_participate_path(guest, participate: false), id: "guest-no#{guest.id}",method: :patch, class: "btn btn-sm btn-outline-secondary btn-guest", remote: true %>
              <% else %>
                <%= link_to "YES", guest_participate_path(guest, participate: true), method: :patch, class: "btn btn-sm btn-outline-primary btn-guest btn-yes", data: {guest_id: "#{guest.id}"}, remote: true %>
                <%= link_to "NO", "#", class: "btn btn-sm btn-secondary btn-guest disabled" %>
              <% end %>
            </div>
          </div>
          <div class="modal fade" id="guestmodal-<%= guest.id %>" tabindex="-1" role="dialog" aria-labelledby="timelineModal" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit RSVP info</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= render "edit", guest: guest %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>

</div>
