<div class="container">
  <h1 class="display-4 text-center">Welcome!</h1>

  <div id="accordion">
    <% @guests.each do |guest| %>
      <div class="card">
        <div class="card-header" id="heading<%= guest.id %>">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse<%= guest.id %>" aria-expanded="false" aria-controls="collapse<%= guest.id %>">
              <%= "#{guest.name} #{guest.last_name}"%>
            </button>
          </h5>
        </div>
        <div id="collapse<%= guest.id %>" class="collapse" aria-labelledby="heading<%= guest.id %>" data-parent="#accordion">
          <div class="card-body">
            <%= render 'edit', guest: guest %>
            <!-- <h5 class="card-title"><%= guest.last_name %></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          </div>
        </div>
      </div>
  <% end %>
  </div>
</div>
