<!-- NAVBAR -->

<div class="navbar navbar-expand-md navbar-light navbar-davide fixed-top">
  <button class="navbar-toggler collapsed order-md-12" type="button" data-toggle="collapse" data-target=".navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar top-bar"></span>
    <span class="icon-bar middle-bar"></span>
    <span class="icon-bar bottom-bar"></span>
  </button>
  <div class="navbar-brand order-md-3">
    <%= link_to root_path, class: "d-logo" do %>
      <%= cl_image_tag("logo", width: :auto, dpr: :auto, quality: :auto, fetch_format: :auto, responsive: :true, responsive_placeholder: "blank") %>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div class="btn-group order-md-11 navbar-user-icon dropwdown">
      <%= link_to "#", class: "btn-link", role: 'button', id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
        <i class="fas fa-user"></i>
      <% end %>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" id="nav-dropdown">
        <%= link_to "RSVP", guests_path, class: "dropdown-item #{'active' if current_page?(guests_path)}" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
  <% else %>
    <%= link_to "RSVP", guests_path, class: "btn btn-outline-primary order-md-11 btn-sm" %>
  <% end %>
  <div class="collapse navbar-collapse order-md-1 navbarSupportedContent">
    <div class="navbar-nav">
      <%= link_to "Logistics", logistics_path, class: "nav-item nav-link #{'active' if current_page?(logistics_path)}" %>
    </div>
  </div>
  <div class="collapse navbar-collapse navbarSupportedContent order-md-2">
    <div class="navbar-nav">
      <%= link_to "Tourist Info", tourist_info_path, class: "nav-item nav-link #{'active' if current_page?(tourist_info_path)}" %>
    </div>
  </div>
  <div class="collapse navbar-collapse navbarSupportedContent order-md-4">
    <div class="navbar-nav">
      <%= link_to "Registry", registries_path, class: "nav-item nav-link #{'active' if current_page?(registries_path)}" %>
    </div>
  </div>
</div>
