<div class="timeline-container">
  <div class="timeline">
    <ul>
      <li>
        <div class="bullet"></div>
        <div class="timeline-desc">
          <p>Land at:</p>
          <h5><%= @timelineData[:turin][:one][:h5] %></h5>
        </div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="timeline-desc" data-toggle="modal" data-target="#timelineModal" data-modaltitle='<%= @timelineData[:turin][:two].to_json.html_safe %>' >
          <p>Go to train station:</p>
          <h5><%= @timelineData[:turin][:two][:h5] %></h5>
          <div class="transportation">
            <% @timelineData[:turin][:two][:icons].each do |icon| %>
              <i class="fas fa-<%= icon %>"></i>
            <% end %>
          </div>
        </div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="timeline-desc" data-toggle="modal" data-target="#timelineModal" data-modaltitle='<%= @timelineData[:turin][:three].to_json.html_safe %>' >
          <p>Take a train to:</p>
          <h5><%= @timelineData[:turin][:three][:h5] %></h5>
          <div class="transportation">
            <% @timelineData[:turin][:three][:icons].each do |icon| %>
              <i class="fas fa-<%= icon %>"></i>
            <% end %>
          </div>
        </div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="timeline-desc" data-toggle="modal" data-target="#timelineModal" data-modaltitle='<%= @timelineData[:turin][:four].to_json.html_safe %>' >
          <p>Arrive to:</p>
          <h5><%= @timelineData[:turin][:four][:h5] %></h5>
          <div class="transportation">
            <% @timelineData[:turin][:four][:icons].each do |icon| %>
              <i class="fas fa-<%= icon %>"></i>
            <% end %>
          </div>
        </div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="timeline-desc">
          <p>Check-in:</p>
          <h5><%= @timelineData[:turin][:five][:h5] %></h5>
        </div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="timeline-desc" data-toggle="modal" data-target="#timelineModal" data-modaltitle='<%= @timelineData[:turin][:six].to_json.html_safe %>' >
          <p>Free shuttle to:</p>
          <h5><%= @timelineData[:turin][:six][:h5] %></h5>
          <div class="transportation">
            <% @timelineData[:turin][:six][:icons].each do |icon| %>
              <i class="fas fa-<%= icon %>"></i>
            <% end %>
          </div>
        </div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="timeline-desc">
          <p>Drink, eat, celebrate!</p>
          <h5><%= @timelineData[:turin][:seven][:h5] %></h5>
        </div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="timeline-desc" data-toggle="modal" data-target="#timelineModal" data-modaltitle='<%= @timelineData[:turin][:eight].to_json.html_safe %>' >
          <p>Free shuttle to:</p>
          <h5><%= @timelineData[:turin][:eight][:h5] %></h5>
          <div class="transportation">
            <% @timelineData[:turin][:eight][:icons].each do |icon| %>
              <i class="fas fa-<%= icon %>"></i>
            <% end %>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="modal fade" id="timelineModal" tabindex="-1" role="dialog" aria-labelledby="timelineModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleText"></h5> <!-- h5 content is added by JS -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div> <!-- content is added by JS function-->
    </div>
  </div>
</div>
