<div class="home-banner">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-1 banner-hero m-1">Davide & Gaia</h1>
      </div>
    </div>
    <div class="row">
      <div class="col banner-description">
        <p>“We think we’re quite ready
          <br>š
          for another adventure!”</p>
        <div class="my-3">
          <%= link_to "RSVP", "#", class: "btn btn-primary", role: 'button' %>
        </div>
        <%= link_to "#chevron-hook", class: "chevron-animate" do %>
          <i class="fas fa-lg fa-chevron-down"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container text-center info-spacer">
  <div class="row">
    <div class="col wedding-date" id="chevron-hook">
      <p>Come celebrate with us!</p>
      <h1 class="display-1">September 25th, 2020</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 wedding-data">
      <i class="fas fa-calendar-day fa-3x mb-3"></i>
      <h6 class="text-uppercase">Wedding Celebration</h6>
      <p>Ceremony begins at 16:00.<br>
        Food starts at 18:00!</p>
    </div>
    <div class="col-sm-6 wedding-data">
      <i class="fas fa-map-marked-alt fa-3x mb-3"></i>
      <h6 class="text-uppercase">Tenuta la Morra</h6>
      <p>Via Villafranca 77, 10061<br>
        Cavour TO, Italy</p>
    </div>
  </div>
</div>
<div class="container-fluid breakimage spacer-image">
</div>
<div class="container info-spacer">
  <div class="row ">
    <div class="col logistics-hero text-center">
      <h2>Logistics</h2>
      <h6>“Home is behind, the wedding ahead.”</h6>
    </div>
  </div>
  <div class="card-deck">
    <div class="card d-card-shadow">
      <%= link_to "#", class: "stretched-link" do %>
        <%= image_tag("https://via.placeholder.com/400x150", class: "card-img-top")%>
      <% end %>
      <div class="card-body text-center">
        <h5 class="card-title">How to get here</h5>
        <p class="card-text">Step by step travel instructions</p>
      </div>
    </div>
    <div class="card d-card-shadow">
      <%= link_to "#", class: "stretched-link" do %>
        <%= image_tag("https://via.placeholder.com/400x150", class: "card-img-top")%>
      <% end %>
      <div class="card-body text-center">
        <h5 class="card-title">Where to stay</h5>
        <p class="card-text">Partner hotel for wedding night</p>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container-fluid wine-tour-info spacer-image">
</div> -->
<div class="container info-spacer">
  <div class="row ">
    <div class="col tourist-hero text-center">
      <h2>Tourist Info</h2>
      <h6>“Not All Those Who Wander Are Lost.”</h6>
    </div>
  </div>
  <div class="card-deck">
    <div class="card d-card-shadow">
      <%= link_to "#", class: "stretched-link" do %>
        <%= image_tag("https://via.placeholder.com/400x300", class: "card-img-top")%>
      <% end %>
      <div class="card-body text-center">
        <h5 class="card-title">Torino</h5>
        <p class="card-text">Our hometown</p>
      </div>
    </div>
    <div class="card d-card-shadow">
      <%= link_to "#", class: "stretched-link" do %>
        <%= image_tag("https://via.placeholder.com/400x300", class: "card-img-top")%>
      <% end %>
      <div class="card-body text-center">
        <h5 class="card-title">Cavour</h5>
        <p class="card-text">The historical wedding town</p>
      </div>
    </div>
    <div class="card d-card-shadow">
      <%= link_to "#", class: "stretched-link" do %>
        <%= image_tag("https://via.placeholder.com/400x300", class: "card-img-top")%>
      <% end %>
      <div class="card-body text-center">
        <h5 class="card-title">Langhe</h5>
        <p class="card-text">Italy's best wine region</p>
      </div>
    </div>
  </div>
</div>
