<% t('pages.touristinfo').each do |location| %>
<div class="container-fluid" id=<%= location[:location_id] %>>
  <div class="tourist-banner" style="background-image: url(<%= asset_path(location[:location_image])%>)">
    <div class="tourist-title">
      <h1 class="display-4"><%= location[:location] %></h1>
      <%= link_to location[:location_link_text], location[:location_link], class: "btn btn-primary", target: :_blank %>
    </div>
  </div>
</div>
<div class="container tourist-info">
  <div class="row">
    <div class="col-lg-6 tourist-border">
      <div class="tourist-see text-center">
        <h2><%= location[:places_title] %></h2>
        <h6><%= location[:places_quote] %></h6>
      </div>
      <div class="mini-card-deck">
        <% location[:places].each do |place| %>
          <div class="card-product">
            <img src=<%= place[:place_pic] %>>
            <div class="card-product-infos">
              <h6><%= place[:place_name] %></h6>
              <p><%= place[:place_description] %></p>
              <% unless place[:place_link].nil? %>
                <a class="" href=<%= place[:place_link] %>><%= place[:place_link_text] %></a>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="tourist-eat text-center">
        <h2><%= location[:restaurants_title] %></h2>
        <h6><%= location[:restaurants_quote] %></h6>
      </div>
      <div class="mini-card-deck">
        <% location[:restaurants].each do |restaurant| %>
          <div class="card-product">
            <img src=<%= restaurant[:restaurant_pic] %>>
            <div class="card-product-infos">
              <h6><%= restaurant[:restaurant_name] %></h6>
              <p><%= restaurant[:restaurant_description] %></p>
              <% unless restaurant[:restaurant_link].nil? %>
                <a class="" href=<%= restaurant[:restaurant_link] %>><%= restaurant[:restaurant_link_text] %></a>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
