<div class="container-fluid" id="honeymoon">
  <div class="honeymoon-banner">
    <div class="honeymoon-title">
      <h1 class="display-1 text-center">Honeymoon Crowdfunding</h1>
      <%= link_to "BANK TRANSFER INFO", "#", class: "btn btn-primary", 'role': 'button', data: {toggle: 'collapse', target: '#bankTransferInfo'}, aria: {expanded: 'false', controls: '#bankTransferInfo'} %>
    </div>
  </div>
</div>
<div class="container collapse" id="bankTransferInfo">
  <div class="row">
    <div class="col-md-6 bank-border bank-col ">
      <h4>UK Account Details</h4>
      <h6>Account Name</h6>
      <div class="input-group">
        <input id="uk-name" type="text" class="bank-info form-control" aria-label="Gaia Tonanzi" value="Gaia Tonanzi" readonly>
        <div class="input-group-append">
          <%= button_tag type: "button", class: "btn btn-primary btn-bank-copy", title: "Copy", data: {toggle: "tooltip", placement: "top", clipboard_target: "#uk-name"} do %>
            <i class="fas fa-copy"></i>
          <% end %>
        </div>
      </div>
      <h6>Account Number</h6>
      <div class="input-group">
        <input id="uk-number" type="text" class="bank-info form-control" aria-label="79366709" value="79366709" readonly>
        <div class="input-group-append">
          <%= button_tag type: "button", class: "btn btn-primary btn-bank-copy", title: "Copy", data: {toggle: "tooltip", placement: "top", clipboard_target: "#uk-number"} do %>
            <i class="fas fa-copy"></i>
          <% end %>
        </div>
      </div>
      <h6>Sort Code</h6>
      <div class="input-group">
        <input id="uk-sort" type="text" class="bank-info form-control" aria-label="04-00-04" value="04-00-04" readonly>
        <div class="input-group-append">
          <%= button_tag type: "button", class: "btn btn-primary btn-bank-copy", title: "Copy", data: {toggle: "tooltip", placement: "top", clipboard_target: "#uk-sort"} do %>
            <i class="fas fa-copy"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6 bank-col">
      <h4>EU Account Details</h4>
      <h6>Account Name</h6>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= button_tag type: "button", class: "btn btn-primary btn-bank-copy", title: "Copy", data: {toggle: "tooltip", placement: "top", clipboard_target: "#eu-name"} do %>
            <i class="fas fa-copy"></i>
          <% end %>
        </div>
        <input id="eu-name" type="text" class="bank-info form-control" aria-label="Davide Lora" value="Davide Lora" readonly>
      </div>
      <h6>Account Number</h6>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= button_tag type: "button", class: "btn btn-primary btn-bank-copy", title: "Copy", data: {toggle: "tooltip", placement: "top", clipboard_target: "#eu-number"} do %>
            <i class="fas fa-copy"></i>
          <% end %>
        </div>
        <input id="eu-number" type="text" class="bank-info form-control" aria-label="IT04H0326801019052555232280" value="IT04H0326801019052555232280" readonly>
      </div>
      <h6>BIC/SWIFT</h6>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= button_tag type: "button", class: "btn btn-primary btn-bank-copy", title: "Copy", data: {toggle: "tooltip", placement: "top", clipboard_target: "#eu-sort"} do %>
            <i class="fas fa-copy"></i>
          <% end %>
        </div>
        <input id="eu-sort" type="text" class="bank-info form-control" aria-label="SELBIT2BXXX" value="SELBIT2BXXX" readonly>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col registry-title">
      <h3>Select all the perks you want!</h3>
      <h3>The amount indicated is only a suggestion, feel free to donate freely</h3>
    </div>
  </div>
<div class="row">
  <div class="col">
    <div class="registry-deck">
      <% @registries.each do |registry| %>
            <% if !user_signed_in? %>
              <% selected_params = ['d-card-shadow', 'hide-registry-selected', honeymoons_path(registry: registry.id), :post, false] %>
            <% elsif @honeymoons.exists?(registry: registry) %>
              <% selected_params = ['d-card-shadow-primary', '', honeymoon_path(registry), :delete, true] %>
            <% else %>
              <% selected_params = ['d-card-shadow', 'hide-registry-selected', honeymoons_path(registry: registry.id), :post, true] %>
            <% end %>
            <div class="card registry-card <%= selected_params[0] %>">
              <span class="<%= selected_params[1] %> registry-selected"><i class="fas fa-check-circle"></i></span>
            <%= link_to selected_params[2], method: selected_params[3], class: "stretched-link", remote: selected_params[4] do %>
              <!-- Image dimension 300x200-->
              <%= image_tag "https://www.hobbitontours.com/media/1181/hobbiton-movie-set-8.jpg", class: "card-img-top", alt: "#{registry.activity}", id: "card-registry-#{registry.id}" %>
            <% end %>
            <div class="card-body registry-body">
              <h5 class="value-img-overlay">£<%= registry.value %></h5>
              <h5 class="card-title"><%= registry.activity %></h5>
              <p class="card-text"><%= registry.description %></p>
            </div>
            <div class="card-footer">
              <h6 class="card-text"><i class="fas fa-gifts"></i> PERK</h6>
              <p class="card-text"><%= registry.perk %></p>
            </div>
          </div>
      <% end %>
      </div>
    </div>
</div>
